*.log
**/air_adj
**/air_lin
**/airfoil
*.png
*.xml
*.dat
*.fig
*.ods
*.eps
*.bbl
*.blg
*.aux
*.lol
*.synctex.gz
*.zip
*.pdf
*.toc
*.txt
*_d.f
*_dx.f
**/bin/
**/obj/
*.cbp
*~
*.depend
*.layout
*_d.f90
*.msg
*.mod
*.o
*.dvi
*.mat
Code/MIT*
Code/OP2
Code/OpenAD