# setup Fortran compiler and flags
FORT=gfortran
FFLAGS=-g -O0

# setup C compiler and flags
CC=gcc
CFLAGS=-g -O0

# Include variables for other third party packages that the app
# depends on in this top level Makefile. This will give a hint
# to the user of the app that they need to have these tools
# installed someplace

# Include OPENAD Path. If package depends on specific version
# of OPENAD, mention it in a comment.
OPENAD_PATH=

# Include TAPENADE Path. If package depends on specific version
# of TAPENADE, mention it in a comment.
TAPENADE_PATH=tapenade

# Set LANG, DERIV and SCENE variables to empty, pass from command line
LANG=
DERIV=
SCENE=

# Root application folder - set absolute path
APP_ROOT=

# F90 root
F90_APP_ROOT=${APP_ROOT}/f90

# Matlab root
MATLAB_APP_ROOT=${APP_ROOT}/matlab

# netCDF F90 Module Path
NETCDF_F90_MOD=/usr/include/netcdf.mod

# SET libraries with no hyphens
F90_LIBS= lnetcdff lnetcdf lgfortran