# setup Fortran compiler and flags
FORT=gfortran
FFLAGS=-g -O0

# setup C compiler and flags
CC=gcc
CFLAGS=-g -O0

# Include OPENAD Path. If package depends on specific version
# of OPENAD, mention it in a comment.
OPENAD_PATH=

# Include TAPENADE Path. If package depends on specific version
# of TAPENADE, mention it in a comment.
TAPENADE_PATH=

# Include variables for other third party packages that the app
# depends on in this top level Makefile. This will give a hint
# to the user of the app that they need to have these tools
# installed someplace